@import "tailwindcss";

@theme {
  --color-primary: #18181b;
  --color-secondary: #27272a;
  --color-tertiary: #3f3f46;

  --color-foreground: #f1f5f9;
  --color-muted: #cbd5e1;
  --color-subtle: #94a3b8;

  --color-border: #3f3f46;
  --color-border-secondary: #52525b;

  --color-accent: #3b82f6;
  --color-warning: #f87171;
  --color-success: #4ade80;
  --color-sidechain: #fbbf24;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f1f5f9;
  background-color: #18181b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}
